body{
    background-color: beige;
    color: rgb(183, 130, 231);
    font-family: "Courier New",Courier,monospace;
}

nav{
    background-color:rgb(218, 219, 148);
    width: 100%;
    padding: 20px 0;
    color: rgb(0, 0, 0);
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

 nav ul li{
    margin: 0 20px;
 }

 nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s ease;
 }

 img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow:0 4px 8px black;
 }

 h1{
    text-align: center;
}

p{
    color: rgb(130, 44, 141);
    text-align: center;
    margin-bottom: 20px;
    font-size: 20;
}

footer{
    text-align: center;
}